# Introducción a Python

En este notebook vamos a recorrer algunos conceptos básicos de programación en general y como los aplicamos con Python. Recomendamos ir haciéndolo con algún recurso que hayan elegido - más adelante te dejamos uno - y con el buscador de Google como su mejor amigo. Existen muchísimos recursos de libre acceso disponibles para ayudarnos, recomendamos https://learnxinyminutes.com/docs/python3/ o los otros mencionados en las bitácoras.


**Recomendación**: además de realizar los ejercicios, les sugerimos fuertemente que vayan probando y modificando el código presente en este notebook. La mejor manera de aprender es haciendo, 'romper' el código e intentar entender porque dejó de funcionar. ¡No hay nada irreversible, no tengas miedo! Siempre podés volver a descargar el notebook.

## 1. Variables, Tipos de Datos y Operaciones

### 1.1 Variables

Al crear una variable le estás poniendo un nombre a un objeto. Cada variable debe llevar un nombre a través del cual nos referimos a ella, los nombres deben ser únicos y, en lo posible, ser lo mas explícitos posibles para evitar confusiones. Usando el `=` se asigna un valor a una variable. No es un igual matemático/lógico, puedes pensarlo como una flecha (`<--`) que asigna lo que hay del lado derecho a lo que hay del lado izquierdo. Recordemos algunos ejemplos.

In [1]:
# Asignamos el valor 3 a una variable que creamos, de nombre x
x = 3

# Evaluamos e imprimimos en pantalla el resultado
print(x)

3

In [2]:
# Asignamos el valor 15.7 a una nueva variable, de nombre y
y = 15.7

print(y)

15.7

In [ ]:
# Podemos definir una nueva variable como la suma de dos anteriores
z = x + y

print(z)

18.7

Pero en las variables no necesariamente ponemos números, también podemos poner texto (*strings*)

In [ ]:
# Se peude tambier asignar un valor de texto otra variable
un_texto = 'HOLA!'

print(un_texto)

HOLA!

**Probar:** ejecutar la siguiente celda. ¿Cuál es la diferencia?

In [ ]:
print(un_texto)
print('un_texto')

HOLA!
un_texto

Si queremos, podemos borrar alguna variable que ya no utilizaremos más

In [ ]:
del(un_texto)
print(un_texto)

NameError: ignored

**Nota importante**: al correr esta ultima linea, deben ver un mensaje de error. Los mensajes de error son MUY IMPORTANTES. Nos brindan información muy valiosa cuando nuestro código no funciona. En este caso, nos está avisando que no puede imprimir la variable `un_texto`, ya que la eliminamos y no está definida.

Muchas veces, para resolver el error, lo mejor que podemos hacer es googlearlo.¡Notar que en Colab ya nos da la opción de Googlear el error en Stack Overflow!

### 1.2 Tipos de Datos
Cuando definimos una variable, dependiendo el contenido que le asignamos, la misma será de un determinado tipo. Los tipos de datos más comunes de variables son: `int`,`float`,`string` y `boolean`. Veamos algunos ejemplos de cada tipo.

In [ ]:
a = 42
print(type(a))

<class 'int'>

In [ ]:
b = 7.8
print(type(b))

<class 'float'>

In [ ]:
c = True
print(type(c))

<class 'bool'>

In [ ]:
t1 = 'hola'
print(type("hola"))

t2 = '523'
print(type('t2'))

<class 'str'>
<class 'str'>

**Nota**: a pesar de ser un número, la variable `t2` es de tipo `string`. Esto se debe a que lo pusimos entre comillas.

In [ ]:
# Este es un tipo especial de variable, que se utiliza para simbolizar algo 'vacio'
d = None
print(type(d))

<class 'NoneType'>

Si por algun motivo (ya veremos que esto es algo que suele suceder), uno desea explicitar el tipo de variable y no dejar que python lo asuma por si solo, esto también es posible.

In [ ]:
numero = 45
print(type(numero))

# Quiero que sea un 'float' y no un int
numero = float(45)
print(type(numero))

# Quiero que sea un 'string' y no un int
numero = str(45)
print(type(numero))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
otro_numero = 45.0
print(type(otro_numero))

# Quiero que sea un 'int' y no un 'float'
otro_numero = int(45.0)
print(type(otro_numero))

<class 'float'>
<class 'int'>

**Ejercicio**: Cambiar el tipo de la variable 'numero' a float.

In [ ]:
numero = '5'
numero = float(numero)

# La siguientes lineas de codigo chequean si hiciste correctamente el ejercicio
# No importa si no entiendes qué hace.
if type(numero) is float:
    print('Correcto!')
else:
    print('Convierte la variable a tipo float')

Correcto!

### 1.3 Operaciones
Con las variables que definimos, podemos realizar distintas operaciones. Dependiendo el tipo de variable, hay diferentes operaciones diponibles. En este notebook veremos operaciones con números - `int` y `float`; más adelante veremos operaciones con texto.

#### 1.3.1 Operaciones con números

Se pueden realizar las operaciones basicas entre numeros

In [ ]:
a = 20
b = 4
print(a+b)
print(a-b)

24
16

Se pueden realizar las operaciones incluso entre distintos tipos de variables

In [ ]:
a = 20
b = 4.5

c = a+b
d = a-b

print(c)
print(d)

24.5
15.5

¿De qué tipo es la variable resultante? Trata de adivinarlo antes de correr la celda siguiente.

In [ ]:
print(type(c))
print(type(d))

<class 'float'>
<class 'float'>

También podemos dividir números.

In [ ]:
x = 10
y = 3
z = x/y
print(z)

3.3333333333333335

¿De qué tipo es la variable resultante de hacer la división? A pesar de dividir dos números enteros, el resultado es de tipo `float`. ¡Ésta es una de las diferencias entre Python 2 y Python 3.

In [ ]:
print(type(z))

<class 'float'>

La siguiente operación es muy usada en computación, nos devuelve el resto de la división. ¿No recuerdas qué es el resto? Puedes investigarlo [aquí](https://www.disfrutalasmatematicas.com/numeros/division-resto.html).

In [ ]:
x = 10
y = 3
print(x%y)
print(type(x%y))

1
<class 'int'>

**Ejercicio**: Calcular el porcentaje que representa el valor 17 sobre un total de 54 y guardarlo en una variable llamada `porcentaje`.

In [1]:
porcentaje = 17*100/54
print(porcentaje)

31.48148148148148

#### **Ejercicio - Challenge**: calcula la suma y multiplicación de las variables `a`, `b` y `c`. ¡Presta atención al tipo de dato!

In [2]:
a = '2'
b = '-5.5'
c = '7.8'

print(float(a) + float(b) + float(c))
print(float(a) * float(b) * float(c))

4.3
-85.8

## 2. Listas y Loops

Ya vimos los tipos de datos básicos de Python. Es hora de empezar a combinarlos.

### 2.1 Listas

Las listas un objeto central en el lenguaje Python. Están compuestas por una sucesión de objetos en un orden determinado. Se definen mediante corchetes `[]`, y los objetos dentro de ellas se separan por comas `,`. Veamos un ejemplo:

In [ ]:
lista_1 = [42, 10.7, True, 'Texto']
print(lista_1)

[42, 10.7, True, 'Texto']

**Notar** que la lista puede contener varios tipos de datos diferentes sin ningún problema.

Una pregunta muy usual que uno hace cuando trabaja con listas es cuántos elementos tiene. Esto lo podemos responder con el comando `len()`

In [ ]:
len(lista_1)

4

#### Indexado

Cada elemento de una lista tiene asignada una posición (*índice*) que podemos usar para inspeccionar ese elemento u operar con él. Los índices **empiezan en 0**, y se especifican poniendo corchetes con el índice dentro luego del nombre de la lista:

In [ ]:
lista_2 = [5, 6.0,'Un poco de texto',-5, False, 'Más texto', True, 100]

print(lista_2[0])
print(lista_2[1])
print(lista_2[2])

5
6.0
Un poco de texto

**Ejercicio**: imprimir el séptimo elemento de `lista_2`. Asegurarte que lo hiciste bien contando los elementos de la lista.

In [ ]:
print(lista_2[6])

True

También podemos seleccionar porciones de la lista, no solamente de a un elemento por vez.

In [ ]:
print(lista_1[0:3])
print(lista_2[4:])
print(lista_2[1:5:2])

[42, 10.7, True]
[False, 'Más texto', True, 100]
[6.0, -5]

¿Cuál es la lógica que gobierna esta sintaxis? Juega un poco con ella y fíjate si logras descubrir la regla. Sino, también puedes googlear qué es *slicing*.

Algo más sobre indexado. Podemos indexar *desde el final* de la lista usando números negativos.

In [ ]:
print(lista_2[-1])
print(lista_2[-2])
print(lista_2[-8])

100
True
5

Veamos una cosita más. Creemos una tercera lista

In [ ]:
# Definimos una segunda lista
lista_3 = [0, lista_1, 'Mas texto', lista_2]
print(lista_3)
print(len(lista_3))

[0, [42, 10.7, True, 'Texto'], 'Mas texto', [5, 6.0, 'Un poco de texto', -5, False, 'Más texto', True, 100]]
4

Notemos que en esta tercera lista, agregamos dentro la primera y la segunda lista. Ambas listas ahora son elementos de esta tercera lista. Prestar particular atención a cuántos elementos tiene `lista_3`. ¡No importa cuántos elementos tienen `lista_1` o `lista_2`, dentro de `lista_3` solamente cuentan como uno!

In [ ]:
print(lista_3[1])

[42, 10.7, True, 'Texto']

**Ejercicio:** tomando `lista_1` desde `lista_3` (lo que acabamos de hacer en la celda anterior), indexar el tercer elemento de `lista_1`. Debería darte como resultado `True`.

In [ ]:
print(lista_3[1][2])

True

**Lista Vacía y `append()`**

Podemos crear listas vacias e ir agregándole elementos con el método `append()`

In [ ]:
lista_vacia = []
len(lista_vacia)

0

In [ ]:
lista_vacia.append(42)
lista_vacia.append('un segundo item')
print(lista_vacia)
print(len(lista_vacia))

[42, 'un segundo item']
2

Prueba qué pasa si corren nuevamente la celda anterior (justo arriba de ésta). Notar que el método `append()` no solamente trabaja en listas vacías.

**Ejercicio**: Define una lista vacia llamada `lista_nueva` y agréguele (`append()`) los elementos `a`, `b` y `c`.

In [ ]:
a = 8
b = 'world'
c = [12,24.5,66]

lista_nueva = []
lista_nueva.append(a)
lista_nueva.append(b)
lista_nueva.append(c)
print(lista_nueva)

[8, 'world', [12, 24.5, 66]]

**CUIDADO:** a veces queremos copiar una lista, operar sobre ella y comparar los resultados con la lista original. Sin embargo, hay que tener cuidado cuando queremos copiar listas

In [ ]:
lista_1 = [1,2,3,4]
lista_2 = lista_1  # lista_2 ahora es igual a lista_1
lista_2[-1] = 100 # el ultimo elemento de la lista_2 ahora es 100
print(lista_1, lista_2)

[1, 2, 3, 100] [1, 2, 3, 100]

¡Notar que se modificaron ambas listas! Esto, en general, no es lo deseado. Pero podemos hacerlo bien:

In [ ]:
lista_1 = [1,2,3,4]
lista_2 = lista_1.copy() # Prestar atención aquí
lista_2[-1] = 100
print(lista_1, lista_2)

[1, 2, 3, 4] [1, 2, 3, 100]

¡Ahora no! Es decir, si queremos copiar listas, debemos poner `.copy()`. Esto no solo vale para listas, sino para objetos que veremos en los próximos encuentros, como arreglos de Numpy y dataframes de Pandas.

### 2.2 Loops

En general, cuando estamos programando, queremos repetir una operación varias veces. Por ejemplo, aplicarle una operación a los elementos de una lista. Si la lista tiene muchos elementos, puede ser engorroso escribir la aplicación de esa operacíon a cada elemento uno por uno, por lo que necesitamos alguna estructura de código que facilite esa sintaxis. 

Los **Loops** (bucles) son estructuras de codigo fundamentales en cualquier lenguaje de programación. Consisten en bloques de código que se repiten una cierta cantidad de veces dada una condición. Existen dos formas básicas de crear loops, las instrucciones tipo `for` y las instrucciones tipo `while`. Te vamos a contar de qué se tratan los `for`, si te interesa pueden googlear cómo funcionan los `while`.

El `for` es un loop en el que un bloque de código se repite tantas veces como elementos haya en una determinada lista. En cada iteración (repetición) hay una variable que va tomando el valor de uno de los elementos en esta lista. Veamos un ejemplo:

In [ ]:
lista_numeros = [3,55,1,876,12]
for elemento in lista_numeros:
    # Definimos el codigo dentro del for mediante la indentación
    # (Todo lo que este corrido un 'tab' a la derecha)
    print(elemento)

3
55
1
876
12

Prestar particular atención a que el código que está "dentro" del `for` está **indentado**. En algunos lenguajes de programación la indentación se utiliza para ordenar el código, hacerlo más legible. En Python, en cambio, es **obligatorio**. Se logra con cuatro espacios o un tab.

Repitamos los mismo que la celda anterior. pero ahora agregamos una variable `i` que cuenta la cantidad de veces que recorrimos el bucle `for` .

In [ ]:
lista_numeros = [3,55,1,876,12]
i = 0 # La iniciamos en cero

for elemento in lista_numeros:    
    i = i+1 # Le sumamos 1 cada vez que entra
    print(elemento, i)

3 1
55 2
1 3
876 4
12 5

Tomarte unos minutos para entender qué hace la línea `i = i + 1`.

También podemos recorrer listas de texto. Presten atencion al siguiente codigo, e intenten precedir el resultado antes de correr la celda.

In [ ]:
lista_nombres = ['Ernesto', 'Camilo', 'Violeta']
nueva_lista = []

for item in lista_nombres:
    oracion = 'Mi nombre es ' + item
    nueva_lista.append(oracion)

# Este print esta fuera del bucle, no está indentado
print(nueva_lista)

['Mi nombre es Ernesto', 'Mi nombre es Camilo', 'Mi nombre es Violeta']

Terminamos las explicaciones por el momento. Sabemos que fue bastante y que probablemente estés cansado/a. Recomendamos tomarte un tiempo para descansar y, luego, intentar los siguientes ejercicios. Es MUY importante intentarlo, no importa si sientes que no terminan de resolverlos.

## Ejercitación

En general, no hay una única forma de resolver los ejercicios que vamos a dejar. Lo que sí ocurre, a veces, es que hay formas más *eficientes* o *prolijas*. No debes preocuparte por eso ahora, lo importante es intentar resolverlos.

**Ejercicios 1 y 2 - Challenge:** Si tenemos una lista de números, por ejemplo los primeros diez numeros naturales, e intentamos sumarle un número fijo a la lista, por ejemplo 3, tal vez intentemos algo parecido a lo siguiente:

In [ ]:
numeros = [0,1,2,3,4,5,6,7,8,9]
print(numeros + 3)

TypeError: ignored

¡Nos salta un error! (Notar que la opción de Googlear el error en Stack Overflow esta vez es más informativa.). Entonces, te proponemos que resuelvas los siguientes ejercicios:


1. Crear una rutina que le sume tres a los diez primeros números naturales y vaya imprimiendo en pantalla a medida que lo hace.
2. Crear una rutina que le sume tres a los diez primeros números naturales y guarde los resultados en una nueva lista. Al final, imprimir esa lista en pantalla.

Si necesitas unas pistas, puedes clickear [aquí](https://colab.research.google.com/drive/1gfqynizt4gSsitlZELigCL1jIdlYkpmS), ¡pero te recomendamos que antes lo intentes!

In [ ]:
numeros = [0,1,2,3,4,5,6,7,8,9]
for numero in numeros:
    print(numero + 3)

3
4
5
6
7
8
9
10
11
12

In [ ]:
numeros = [0,1,2,3,4,5,6,7,8,9]
resultados = []
for numero in numeros:
    resultados.append(numero + 3)
print(resultados)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

**Para investigar y pensar**: ¿qué ocurriría si, en lugar de querer sumarle un número a los diez primeros números naturales, quisiéramos hacerlo sobre los primeros cien?¿Y si fuera el primer millón de números naturales?¿La rutina que creaste es fácilmente adaptable? Investiga cómo podrías adaptarla. Pista: `range()`

In [ ]:
N = 100
resultados = []
for numero in range(N):
    resultados.append(numero + 3)
print(resultados)

**Ejercicio 3**: Genere una lista llamada `numerotes` que contenga el cuadrado de cada elemento en la lista `numeritos`.

In [ ]:
numeritos = [3,1,5,7,12,10,17,4,22]
numerotes = []
for numero in numeritos:
    numerotes.append(numero**2)
print(numerotes)

[9, 1, 25, 49, 144, 100, 289, 16, 484]

**Ejercicio 4:** estudiar qué ocurre si sumas,`+`, dos listas. ¿Cómo se llama esa operación?

In [ ]:
lista_1 = [1,5,-8,3]
lista_2 = [True, 'Cocodrilo que se duerme es cartera', 9, -17, 98, False]
print(lista_1 + lista_2)

[1, 5, -8, 3, True, 'Cocodrilo que se duerme es cartera', 9, -17, 98, False]

La operación se llama concatenación. En este caso, de listas.

**Ejercicio 5:** sumar todos los elementos de la siguiente lista. **Pistas:**
* En un ejemplo anterior definimos una variable `i`, inicializada en cero, que fuimos modificando en cada paso de un `for`. Considerar la opción de definir una variable `suma` y utilizarla de forma parecida.

In [1]:
numeros = [4,8,3,1,-3,3,-5,1,2,-8]
suma = 0
for numero in numeros:
    suma = suma + numero
print(suma)

6

In [17]:
a = '2'
b = '-5.5'
c = '7.8'

In [10]:
print(a,b,c)
print(type(a))

2 -5.5 7.8
<class 'str'>

In [12]:
a = float(a)
b = float('-5.5')
c = float('7.8')

a + b +c

4.3

In [13]:
print(a,b,c)
print(type(a))

2.0 -5.5 7.8
<class 'float'>

In [24]:
resultado = float(a) + float(b) + float(c)

In [16]:
print(a,b,c)
print(type(a))

2 -5.5 7.8
<class 'str'>

In [21]:
a_1 = int(a)
b_1 = float('-5.5')
c_1 = float('7.8')

In [22]:
a

'2'

In [23]:
a_1

2

In [25]:
resultado

4.3

In [26]:
float(a) + float(b) + float(c)

4.3

In [27]:
if = 10

SyntaxError: invalid syntax (<ipython-input-27-563084b3e606>, line 1)

In [3]:
str = 10

In [4]:
str.__class__

int

In [2]:
str.__class__

type

In [7]:
a = 10

In [8]:
type(a)

int

In [9]:
a.__class__

int

In [10]:
texto1 = 'hola'
texto2 = "chao"

In [12]:
texto1

'hola'

In [13]:
texto2

'chao'

In [15]:
texto3 = "Capturaron a alias 'el loco'"

In [16]:
texto3

"Capturaron a alias 'el loco'"

In [19]:
15//2

7

In [20]:
int(15/2)

7

In [21]:
15/2

7.5

In [22]:
15//2 + 1

8

In [26]:
lista1 = [1,2,3]

In [25]:
lista1 + lista2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [28]:
lista1.append(4)

In [29]:
lista1

[1, 2, 3, 4]

In [30]:
tupla1 = (1,2,3)

In [34]:
tupla1

(1, 2, 3)

In [35]:
len(lista1)

4

In [36]:
len(tupla1)

3

In [39]:
string1 = 'holaa'

In [40]:
len(string1)

5

In [41]:
lista2 = list()

In [42]:
lista2

[]

In [51]:
lista1[4]

IndexError: list index out of range

In [48]:
lista1

[1, 2, 3, 4]

In [52]:
for elemento in lista1:
    print(elemento)

1
2
3
4

In [53]:
for i in range(len(lista1)):
    print(i, lista1[i])

0 1
1 2
2 3
3 4

In [54]:
nombres = ['Diego', 'Luis', 'Maria']
saludo = list()

In [55]:
for nombre in nombres:
    saludo.append(f'Hola, {nombre}!')

In [57]:
saludo

['Hola, Diego!', 'Hola, Luis!', 'Hola, Maria!']

In [58]:
nombres

['Diego', 'Luis', 'Maria']

In [61]:
contador = 0
while(contador < 10):
    print(contador, saludo[0])
    #contador = contador + 1
    contador += 1
    #contador++

0 Hola, Diego!
1 Hola, Diego!
2 Hola, Diego!
3 Hola, Diego!
4 Hola, Diego!
5 Hola, Diego!
6 Hola, Diego!
7 Hola, Diego!
8 Hola, Diego!
9 Hola, Diego!

In [63]:
for _ in range(10):
    print(saludo[0])

Hola, Diego!
Hola, Diego!
Hola, Diego!
Hola, Diego!
Hola, Diego!
Hola, Diego!
Hola, Diego!
Hola, Diego!
Hola, Diego!
Hola, Diego!

In [66]:
start = 1
stop = 3
step = 1
lista1[start:stop:step]

[2, 3]

In [67]:
texto = 'ajabhabhbsjhbdhjknskjndhjbdkjfnkdnljfnldk'

In [69]:
texto[0:5:1]

'ajabh'

In [70]:
for i in lista1[:3]:
    print(i)

1
2
3

In [72]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
lista1.append(20)

In [78]:
lista1[1:5:2]

[2, 4]

In [80]:
lista1[3]

4

In [90]:
lista1 = [1, 2, 3, 4, 10, 20]

In [91]:
lista2 = ['hola', 'chao']

In [92]:
lista1 + lista2

[1, 2, 3, 4, 10, 20, 'hola', 'chao']

In [93]:
lista1.append(lista2)

In [94]:
lista1

[1, 2, 3, 4, 10, 20, ['hola', 'chao']]

In [95]:
texto = 'Hola a todos!'

In [96]:
for i in range(len(texto)):
    print(f'este es el índice: {i}, este ese el valor: {texto[i]}')

este es el índice: 0, este ese el valor: H
este es el índice: 1, este ese el valor: o
este es el índice: 2, este ese el valor: l
este es el índice: 3, este ese el valor: a
este es el índice: 4, este ese el valor:
este es el índice: 5, este ese el valor: a
este es el índice: 6, este ese el valor:
este es el índice: 7, este ese el valor: t
este es el índice: 8, este ese el valor: o
este es el índice: 9, este ese el valor: d
este es el índice: 10, este ese el valor: o
este es el índice: 11, este ese el valor: s
este es el índice: 12, este ese el valor: !

In [97]:
lista1 = [1,5,-8,3]
lista2 = [10,50,35,-10]

In [98]:
resultado = list()
for i in range(len(lista1)):
    suma = lista1[i] + lista2[i]
    resultado.append(suma)

In [99]:
resultado

[11, 55, 27, -7]

In [100]:
def suma_3(numero):
    return numero + 3

In [101]:
suma_3(10)

13

In [102]:
list(map(suma_3, lista1))

[4, 8, -5, 6]

In [103]:
lista1

[1, 5, -8, 3]

In [104]:
import numpy as np

In [105]:
vector1 = np.array(lista1)

In [108]:
vector1 * 3

array([  3,  15, -24,   9])

In [109]:
lista1

[1, 5, -8, 3]

In [110]:
sum(lista1)

1